*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-size: none;
    font-family: 'Inter', sans-serif;
}

#colecoes {
    padding: 60px 0px;
    background-color: #f7f7f7;
}
#colecoes .aviso{
    margin-left: 100px;
    font-size: 25px;
    line-height: 38px;
    color: #474747;
}
#colecoes ul{
    display: flex;
    margin-top: 36px;
    margin-left: 100px;
    gap: 10px;
}

#colecoes .novodrop h3{
    position: relative;
    padding: 5px 0px;
    font-style: normal;
    font-size: 32px;
    color: #1F1F1F;
}

#colecoes .colecao h3{
    position: relative;
    padding: 5px 0px;
    font-style: normal;
    font-size: 32px;
    color: #1F1F1F;
}

#colecoes .novobeats h3{
    position: relative;
    padding: 5px 0px;
    font-style: normal;
    font-size: 32px;
    color: #1F1F1F;
}

#colecoes .off{
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 38px;
    left: 130px;
    top: 1005px;
    background: #E7FF86;
    border-radius: 29px;
}

#colecoes .comprar button{
    height: 48px;
    width: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 12px;
    border-radius: 8px;
    border-bottom: #D8E3F2;
    transition: .3s;
    cursor: pointer;
    color: #C92071
}

#colecoes .comprar button:hover{
    background-color: #8774e6;
    color: #f5f5f5;
}

#colecoes .novodrop{
    background-image: url(starwars.png);
}

#colecoes .novodrop li{
    width: 400px;
    height: 235px;
    top: 10px;
    left: 100px;
    padding: 60px 30px;
    border-radius: 8px;
    background-image: url(starwars.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    background-color: #D8E3F2;
}

#colecoes .colecao li{
    width: 400px;
    height: 235px;
    top: 10px;
    left: 100px;
    padding: 60px 30px;
    border-radius: 8px;
    background-image: url(tenis.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    background-color: #D8E3F2;
}

#colecoes .novobeats li{
    width: 400px;
    height: 235px;
    top: 10px;
    left: 100px;
    padding: 60px 30px;
    border-radius: 8px;
    background-image: url(fone.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
    background-color: #D8E3F2;
}
